<div class='col-xs-10 col-xs-offset-1'>
<h1>About Me</h1>
<br>
	<p>Graduate of SUNY - Empire State College (distance education program), I earned a Bachelor of Science degree in Science, Math, and Technology (SMT) with a concentration in Applied Math. </p>

	<p>I wasn't the traditional student. Pursuing my degree full-time was out of the question due to life circumstances. While attending a traditional college part-time, my toddler son was diagnosed with epilepsy and I was soon expecting my second child. This forced me to change course a bit. I began taking classes online. I was determined to finish my degree and still remain totally focused on my family.</p>
	<p>After graduating in 2010, I decided that my goals had been met for the time being and focused the next few years on my family. Still, the need to help provide for my family led me to my current job as a local elected employee. I work from home and am self-supervised in all duties that I am responsible for.</p>

	<p>However, that love of learning never subsided and in 2014, at the same time as I decided to homeschool my 3 children, I decided to pursue a 'hobby' and took up coding. A few months in, I realized I really enjoyed and sometimes obsessed over coding. I'm always game for a good challenge. I dug in took a few intro classes and then got serious and jumped into an intensive 15 week apprenticeship.</p>

	<p>I'm not just coding to get an awesome job. I'm coding because I love developing and building really awesome things! I love the challenge and the fact that tech is ever-changing and it'll never allow me to get bored!</p>
	<br/>
	<h4><b>So that's my story! It's a crazy one... but it made me who I am today!<b><h4>
	<h2>Chris</h2>
	<br/>
	<h4>P.S. I'm a severe introvert striving to be more outgoing each and every day!</h4>
	<br/>
	<br/>
</div>