<div class="intro col-xs-10 col-xs-offset-1 text-center">
	<h3 class="brief-intro"><b>I'm a country girl following my passion to code from the serene countryside of Western PA.</b></h3>
	<h3>Hello! My name is</h3>
	<h1>Christina McIntyre</h1>
	<br/>
	<h4>Coding Addict</h4>
	<h4 id="left-right">Wife <%= image_tag 'me-edited.png', :class => 'image-responsive photo' %> Mother</h4>
	<h2>Junior Full Stack Developer</h2>
	<br/>
</div>